<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin/dashboard" class="brand-wrap">
      <img src="/user/assets/imgs/theme/icons/logo.png" class="logo" alt="Evara Dashboard">
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>

  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/users">
          <i class="icon material-icons md-person"></i>
          <span class="text">User</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/categories">
          <i class="icon material-icons md-person"></i>
          <span class="text">Category</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/brands">
          <i class="icon material-icons md-person"></i>
          <span class="text">Brand</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/products">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Product</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/orders">
          <i class="icon material-icons md-person"></i>
          <span class="text">Orders</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="/admin/coupons">
          <i class="icon material-icons md-person"></i>
          <span class="text">Coupons</span>
        </a>
      </li>
      
      <li class="menu-item">
        <a class="menu-link" href="/admin/sales-report">
          <i class="icon material-icons md-person"></i>
          <span class="text">SalesReport</span>
        </a>
      </li>



    </ul>

    <hr>

    <ul class="menu-aside">
    </ul>

    <br><br>
  </nav>
</aside>

<script>
  const currentPath = window.location.pathname; //admin/users

  document.querySelectorAll('.menu-aside .menu-item').forEach(item => { //users, dashboard, products
    const link = item.querySelector('a');
    if (link && currentPath.includes(link.getAttribute('href'))) { //admin/users //href: /admin/users 
      item.classList.add('active'); 
    } else {
      item.classList.remove('active');
    }
  });
</script>
